body{height: 100vh;}



.h-custom{
    width: 100px;
    justify-content: start;
}
.bg-castum{
    background-color: rgba(0, 0, 0, 0.142);
    backdrop-filter: blue;
}
.img-castum{
    background-image: url(./media/palermo.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;

}
.text{
    color: black;
}
.castum-img3{
    width:379px;
    height: 800px;
}
.img-fluid1{
    width: 400px;
    height: 600px;
    
}
.img-fluid2{
    width: 400px;
    height: 600px;
}
.img-fluid3{
    width: 400px;
    height: 600px;
}
.castum-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-position: center;
    padding-left: 700px;
    background-color: aqua;
}
.castum-img1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-position: center;
}
.img-fluid4{
    width: 400px;
    height: 600px;
}
.img-panelle{
    
    height: 300px;
}
.link-footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
